/*!
 *    FileName:  A4.css
 *  Assignment:  Style sheet for assignment: A4
 *      Course:  CIT 152
 *  Instructor:  Dr. Brodersen
 *
 *      Author:  Alexies Farinas | ALEXIES.FARINAS@student.csn.edu
 *        Date:  2/23/20201
 *
 * Description: unique selectors for formatting A4.html          
 *
 */

/* import the css from the index.css document for consistant formatting */
@import "index.css";


/* populate the rest of this document with the css code to format a4.html */

section li {
	line-height: 1.5em;
} 

.left{
    text-align: left;
    padding: 1px;
}
